#content {
	background-color: yellow;
	display: flex;
	flex-direction: column;
    font-size: 23px;
    font-family: 'Acme', sans-serif;
    color: #8f76e3;
}
.nameholder {
	flex: 35%;
	display: flex;
    padding: 10px;
}
#addressholder {
	flex: 50%;
    display: flex;
    padding: 10px;
}
.label {
	flex: 35%;
    text-align: center;
}
.input {
	flex: 80%;
}
.inputdata {
    border: none;
    outline: none;
    font-size: 22px;
    box-shadow: 4px 4px gray;
    width: 90%;
}