body {
  background-color: #2e2e2e;
  color: azure;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 22px;
}
#home {
  float: left;
}
#home img {
  width: 50px;
  height: 50px;
}
table {
  padding: 3px;
  margin: auto;
  border: none;
}
th, td {
  padding: 3px;
  border: none;
}
th {
  color: #ffd49c;
}
.regular {
  color: #ff8c8c;
}
.medium {
  color: #afff7a;
}
.large {
  color: #94a9ff;
}
.price {
  color: #fff875;
}
tr {
  cursor: pointer;
}
td img {
  /* margin-left: 50px; */
  width: 490px;
  height: 120px;
}
#ordertxt {
  font-size: 35px;
  color: #ffbb45;
}
#orders {
  margin-top: 20px;
  color: #ffbb45;
}