body {
	padding: 5px;
	background-color: #2e2e2e;
}
header {
	background-color: #2e2e2e;
	height: 50px;
}
.mainmenu:hover {
	background-color: #4f4f4f;
}
.mainmenu {
	display: block;
	padding: 10px;
	margin: auto;
	text-align: center;
	font-family: 'Acme', sans-serif;
	font-size: 22px;
	color: #ffbb45;
	height: 100%;
}
#navbar a {
	display: block;
	/* flex: 15%; */
	float: right;
	padding-right: 10px;
	text-decoration: none;
}
hr {
	border: 3px solid #ffbb45;
	border-radius: 3px;
}
#deals {
	margin-top: 2%;
}
.slide {
	display: none;
	object-fit: cover;
	/* width: 100%; */
	height: 480px;
	margin: auto;
}
.slide:hover {
	cursor: pointer;
}
#logo {
	font-family: 'Acme', sans-serif;
	font-size: 50px;
	color: #ffbb45;
}