body {
	padding: 5px;
}
header {
	background-color: #6a2eb8;
	height: 50px;
}
.mainmenu:hover {
	background-color: #642bad;
}
.mainmenu {
	display: block;
	padding: 10px;
	margin: auto;
	text-align: center;
	font-family: 'Acme', sans-serif;
	font-size: 22px;
	color: #ffbb45;
	height: 100%;
}
#navbar a {
	display: block;
	/* flex: 15%; */
	float: right;
	padding-right: 10px;
	text-decoration: none;
}
.deals {
	padding: 10px;
	background-color: aquamarine;
	height: 400px;
}
#container {
	display: flex;
	flex-direction: column;
	width: 400px;
	/* height: 500px; */
	margin: auto;
}
#tabs {
	flex: 20%;
	font-family: 'Lobster', cursive;
	font-size: 30px;
	display: flex;
	text-align: center;
}
#box {
	flex: 80%;
}
.tab1, .tab2 {
	flex: 50%;
	display: flex;
	flex-direction: column;
}
.tab1 {
	background-color: yellow;
}
.tab2 {
	background-color: lightgreen;
}
.dtimg {
	float: left;
	width: 35px;
	height: 35px;
}
hr {
	border: 3px solid green;
	border-radius: 3px;
}